<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Deep Dishes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  ​
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
 

  <link rel="stylesheet" href="../static/css/style.css">

    <!-- Inset scroll box made with CSS file -->
     <!-- ----  CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--<link rel="stylesheet" type="text/css" href="static/css/style.css">-->

    <!-- jQuery UI stylesheet -->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/blitzer/jquery-ui.css">
    <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">-->

    <!-- jQuery UI -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

  <div class="container">
    <nav class="navbar p-0 mb-1 navbar-expand-md sticky-top navbar-light" role="navigation">
      <a class="navbar-brand pl-3 pr-3 mt-0 ml-5 bg-warning text-dark" href="{{ url_for('home') }}"><i class="fas fa-utensils"></i>
        Deep Dishes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav mr-5 ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link text-warning dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-project-diagram"></i> Project Docs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../static/documents/whitepaper.pdf" download><i class="far fa-file-alt fa-fw"></i>  Project Whitepaper</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="{{ url_for('team') }}"><i class="fas fa-user-friends"></i> Our Team</a>
          </li>
          <li class="nav-item">
            
          </li>

        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-12 text-center text-white p-5">
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <h1>Deep Dishes</h1>
        </div>
        <hr>
        <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">

          <h2>An AI Recipe Project</h2>
        </div>
      </div>

    </div>

    <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3 id='mRecipe', style="text-align:center">...</h3>
      <hr width="50%">
      <h5 id='mDescHead'><i>Description:</h5></i>
      <h5 id='mDesc'>...</h5>
      <br>
      <h5 id='mIngredsHead'><i>Ingredients:</h5id='mDescHead'></i>
      <h5 id='mIngreds'>...</h5>
      <br>
      <h5 id='mStepsHead'><i>Steps:</h5id='mDescHead'></i>
      <h5 id='mSteps'>...</h5>
    </div>
  </div>

    <div class="col-md-12">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1" onclick="plistsetup()">Abstract</a></li>
          <li><a href="#tabs-2">View Recipes</a></li>
          <li><a href="#tabs-3">Our Favorites</a></li>
        </ul>

        <div id="tabs-1">
          <row class="row">
            <div class="col-12 col-lg-12">
              <h3>Objective</h3>
              <p>To perform unsupervised learning with the neural network of the GPT-2 pretrained model, 
                resulting in machine-generated cooking recipes.  With an engineered dataset of 250,000 recipes, 
                our group trained the model with TensorFlow and the gpt2-simple library.  
                Our training consisted in 20,000 steps, and ultimately resulted in 1,000 generated recipe samples.</p>
              <br>
              <h3>What is GPT-2?</h3>
              <p>GPT-2 or the Generative Pretrained Transformer 2 is an algorithm whose express goal 
                is to understand the intricacies of the English language.  The creators sought to read text 
                through Natural Language Processing (NLP) in order to perform reading comprehension, 
                text completion, summarization, and question answering with little supervision.</p>
              <br>
              <h3>Aspects of GPT-2</h3>
              <ul>
                <style> 
                  li { 
                      color:white ; 
                  }  
              </style> 
                <li>
                  (G) Generative – Predicts and generates the next token in a sequence in an unsupervised manner.  
                  Given raw text, the transformer uses the statistics of features to predict and create more text
                </li>
                <li>
                  (P) Pretrained – A large and powerful model trained with 1.5 billion parameters on a 
                  text corpus of 40 gigabytes, for several month on 100+ GPUs.  
                  TensorFlow allows for the processes of extraction
                </li>
                <li>
                  (T) Transformer – A neural network architecture that utilizes dictionaries in
                   order to eliminate iteration through sequences.  With the efficiency of dictionaries, 
                   the time eliminated in iteration allows for the addition of more layers to the model.
                </li>
                <li>
                  (2) Version - 2
                </li>
              </ul></p>

            </div>
          </row>
        </div>
     
      
        <div id="tabs-2">

          <!-- <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h3 id='mRecipe', style="text-align:center">...</h3>
              <hr width="50%">
              <h5 id='mDescHead'><i>Description:</h5></i>
              <h5 id='mDesc'>...</h5>
              <br>
              <h5 id='mIngredsHead'><i>Ingredients:</h5id='mDescHead'></i>
              <h5 id='mIngreds'>...</h5>
              <br>
              <h5 id='mStepsHead'><i>Steps:</h5id='mDescHead'></i>
              <h5 id='mSteps'>...</h5>
            </div>
          </div> -->

          <div class="row">
            <div class="col-sm-12 col-lg-3">
              <div class="panel panel-default">
                <div style="margin:3em;">
                  <form>
                    <div class="form-group">
                      <input class="form-control" id="word-search2" type="text" placeholder="Enter a word.">
                    </div>
                    <button id="filter-btn" type="button" class="btn btn-default" onclick="docsearch()">Search</button>
                  </form>
                  <p>Number of Results:</p>
                  <p id="number-recipes"></p>
                </div>
              </div>
            </div>

            <div class="docsList" style="height: 500px; overflow: auto;">
              <div id="table-area" class="table-content-class">
                <table id="myTable" class="table table-striped table-bordered table-sm table-hover center gfh">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody class="gfg"></tbody>
                </table>
              </div>
            </div>
          </div>
        </row>
      </div>

        <div id="tabs-3">
            <div class="row">
              <div class="col-lg-2 col-sm-0"></div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box popup" onclick="favsearch('5e1961e89a55302087b29c6a')">
                  <img class="img-fluid" src="../static/images/recipes_selected/chicken_curry.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="project-category text-dark-50">
                      Sammi
                    </div>
                    <div class="project-name">
                      Chicken Curry
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box popup" onclick="favsearch('5e1961e49a55302087b29c16')">
                  <img class="img-fluid" src="../static/images/recipes_selected/spanish_rice.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="project-category text-dark-50">
                      David
                    </div>
                    <div class="project-name">
                      Spanish Rice Pilaf
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-2 col-sm-0"></div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-sm-0"></div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box popup" onclick="favsearch('5e1961e49a55302087b29c15')">
                  <img class="img-fluid" src="../static/images/recipes_selected/muffins.jpeg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="project-category text-dark-50">
                      Laurent
                    </div>
                    <div class="project-name">
                      Banana Ginger Muffin
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box popup" onclick="favsearch('5e1964235f089da3c0c5c1ac')">
                  <img class="img-fluid" src="../static/images/recipes_selected/Brown-Sugar-Brownies.jpg" alt="">
                  <div class="portfolio-box-caption ">
      
                    <div class="project-category text-dark-50">
                      Daniel
                    </div>
                    <div class="project-name">
                      Brown Sugar Brownies
                    </div>
                  </div>
                </a>
              </div>










          </row>
        </div>

      </div>
    </div>



  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!--<script src="../static/js/app.js"></script>-->


  <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
   -->
   <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script> -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

<br>
<br>
</body>

</html>